@import '../../vars.css';

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 10px 12px;
    margin: 10px 10px 10px 10px;
    width: 300px; /* Fixed width for all cards */
    height: 400px; /* Fixed height for all cards */
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* Prevent cards from shrinking */
}

.image {
    width: 250px; /* Fixed width for all images */
    height: 180px; /* Fixed height for all images */
    object-fit: cover; /* Ensures image covers the area without distortion */
    border-radius: 15px;
    margin-bottom: 12px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 100%; /* Ensure full width */
}

.description {
    max-width: 100%;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    flex-grow: 1;
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}

.skills {
    max-width: 100%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.skill {
    font-size: 12px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 1px 10px;
}

.links {
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.links :hover {
    background: rgb(65, 235, 212);
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 12px;
    margin-left: 4px;
    margin-right: 4px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 250px;
        height: 350px;
    }

    .image {
        width: 200px;
        height: 150px;
    }

    .title {
        font-size: 14px;
    }

    .description, .skill, .link {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 220px;
        height: 320px;
    }

    .image {
        width: 180px;
        height: 130px;
    }
}